### data structures
- LIST              `[ ]`
- TUPLE             `( )`
- SET               `{ }`
- DICTIONARY        `{ }`

list => `[1,2,3,4,5,'apple',True,'banana']`
- indexed and ordered
- dynamic and heterogenous
- values can be duplicated
- can be nested
- represented by `[ ]`
- has a function `list( )`

# what u need to learn
- creation N looping
- indexing
- slicing
- function
- comprehension

# creation N looping

In [3]:
x = [1,2,3,4,5]                                         # number only
names= ['prakhar','kumkum','aqdas','ayush','anuu']      # strings only
mixed_data = ['tomato',20,'potato',50,'brinjal',10]     # mixed content
marks = [[10,3,4],[9,7,8],[10,10,2]]                    # nested list
y = []                                                  # empty list

In [4]:
for i in x:
    print(i)

1
2
3
4
5

In [5]:
for nm in names:
    print(nm)

prakhar
kumkum
aqdas
ayush
anuu

In [6]:
for data in mixed_data:
    print(data)

tomato
20
potato
50
brinjal
10

In [7]:
print(marks)

[[10, 3, 4], [9, 7, 8], [10, 10, 2]]

In [8]:
mixed_data

[&#39;tomato&#39;, 20, &#39;potato&#39;, 50, &#39;brinjal&#39;, 10]

# indexing

In [10]:
names

[&#39;prakhar&#39;, &#39;kumkum&#39;, &#39;aqdas&#39;, &#39;ayush&#39;, &#39;anuu&#39;]

In [11]:
names[0]

&#39;prakhar&#39;

In [12]:
names[3]

&#39;ayush&#39;

In [13]:
names[-1]

&#39;anuu&#39;

In [14]:
names[-5]

&#39;prakhar&#39;

In [15]:
names[10]

IndexError: list index out of range

In [16]:
# we can update the valus at any index in a list -> mutable
names[0] = 'Shivam'
print(names)

[&#39;Shivam&#39;, &#39;kumkum&#39;, &#39;aqdas&#39;, &#39;ayush&#39;, &#39;anuu&#39;]

In [25]:
movies = [
    'Shazam',
    'Iron Man',
    'Justice league',
    'Avengers',
    'Thor',
    'Veer',
    'Koi mil gya',
    'Venom',
    'Race',
    'Transformers',
]

In [26]:
len(movies) == 10

True

In [27]:
max(movies)

&#39;avengers&#39;

In [23]:
min(movies)

&#39;Avengers&#39;

In [24]:
sorted(movies)

[&#39;Avengers&#39;,
 &#39;Iron Man&#39;,
 &#39;Justice league&#39;,
 &#39;Koi mil gya&#39;,
 &#39;Race&#39;,
 &#39;Shazam&#39;,
 &#39;Thor&#39;,
 &#39;Transformers&#39;,
 &#39;Veer&#39;,
 &#39;Venom&#39;]

In [30]:
x = [2,3,32,1233,123,123,321,]
sum(x)

1837